+++
title = "Dodges Domain"
linkTitle = "Dodges Domain"

+++


{{< blocks/cover title-color="primary" title="Dodge's Domain" image_anchor="top" height="auto" color="primary" >}}

<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="./docs/guide-install-setup">
		Install Tribes Ascend<i class="fa-solid fa-download ml-2 "></i>
	</a>
	<p class="lead mt-5"></p>
	
</div>
{{< /blocks/cover >}}

{{< blocks/section color="#242526" >}}
{{% blocks/feature icon="fa-solid fa-gamepad" title="Gameplay Guides"  %}}
   

{{< video src="kata-ds-bounce" width="500px" autoplay="true" muted="true" loop="true" controls="false">}}

{{% /blocks/feature %}}

{{% blocks/feature icon="fa-brands fa-steam" title="Play Tribes Ascend" %}}
<a href="/docs/guide-install-setup">
<img src="/img/dodge-pretty-ini.png" alt="UDK" width=500px>
</a>
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Community Maps"  %}}
<a href="/docs/custommaps/">
<img src="/img/maps/acheron-spawn.png" alt="Acheron" width=500px>
</a>
{{% /blocks/feature %}}


{{< /blocks/section >}}

