
<style>
    .item {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 300px;
    }
    
    .item > h3 {
        width: 100%;
        padding: 0.5em 0px;
        text-align: center;
        border: 1px solid currentColor;
        border-left: unset;
        border-right: unset;
    }
    
    .item > .imageContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 10px;
    }
    .item > .imageContainer > .linkcontainer > img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    </style>

    <div class="item">
        <h3>{{.Get `title`}}</h3>
        <div class="imageContainer">
            <a class="linkcontainer" href="{{.Get `url`}}">
                <img src="{{.Get `src`}}" alt="{{.Get `title`}}">
            </a>
        </div>
    </div>

